body{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    cursor: url("cursor.png"), auto;
    margin: 0;
    padding: 0;
    /*font*/

}


#dsc-tag{

 
    
}


#qr{



}


#text{

}

#img{
    
}


#insta{
 
}


#pin{
    
}


#music{
    
}